*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
main{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left{
  width: 60%;
  margin: 5% 10%;
}
#left p{
  margin: 3% 0%;
  font-weight: 500;
  color: #6D7D96;
}
#left span{
  color: #5075FA;
}
#right{
 width: 40%;
 background: #F4F9FF;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#right h1{
  color: #6D7D96;
  margin: 20px 0;
  font-weight: bold;
  font-size: 36px;
}
#right input{
width: 300px;
height: 40px;
margin: 15px 0;
padding-left: 5px;
border-radius: 5px;
border: 2px solid #6D7D96;
font-weight: 500;
font-size: 18px;
}
#right button{
width: 300px;
height: 40px;
margin: 15px 0;
background: #5075FA;
border-radius: 5px;
border: 0;
color: #FFFFFF;
font-weight: 700;
font-size: 18px;
}