* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    background: #E1EFFF;
    height: 100%;
    width: 100%;
}

header {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 70px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #ADAFBC;
    font-weight: 400;
    font-size: 18px;
}

#menu ul li {
    margin: 15px 10px;
}

#menu ul li a {
    color: #ADAFBC;
    text-decoration: none;
}

#menu button {
    margin-left: 20px;
    color: #284979;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ADAFBC;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 136px;
}

a:hover {
    text-decoration: #8AB4F5 underline 3px !important;
}

main {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 5px;
    margin-top: 50px;
    width: 50%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

form h2 {
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
}

form label {
    font-size: 12px;
    padding: 5px 0;
}

form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.5px solid #ADAFBC;
}
form input:focus{
    outline: none;
    border: 2px solid #5075FA;

}

form button {
    color: white;
    background: #5075FA;
    border: 0;
    border-radius: 5px;
    margin: 20px 0 35px 0;
    padding: 10px 0;
    
}
